* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    max-width: 100%; /* Hace que el cuerpo sea completamente responsivo */
    overflow-x: hidden; /* Evita barras de desplazamiento horizontales en pantallas pequeñas */
}

.off h2 {
    background-color: #030000;
    color: #f5f4f3;
    height: 30px;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

nav {
    background-color: #e971c1;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.marca h1 {
    color: #030000;
    border-color: 42px solid #ff1fbc;
    font-family: 'Libre Baskerville', serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #030000;
    font-weight: bold;
}

#search {
    display: flex;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #040000;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #ff009d;
    border: none;
    border-radius: 10px;
    color: #f5f4f3;
    cursor: pointer;
}

.new {
    width: 100%;
    background-image: url('../img/fotoprincipal.png');
    background-repeat: no-repeat;
    padding: 210px;
    background-position: center;
    background-size: cover;
}

.new h2 {
    font-family: 'Dancing Script', cursive;
    text-align: start;
    font-size: 50px;
}

.new p {
    text-align: start;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

.tendencias {
    background-color: #e971c1;
}

.tendencias h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
}

.carousel-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* Evita que las imágenes se desborden en pantallas pequeñas */
}

.carousel-slide {
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#prevBtn,
#nextBtn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: start;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
}

footer img {
    width: 40px;
}

.logo {
    display: inline-block;
    margin-right: 20px;
}

.enlace {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.enlace:hover {
    color: #4285f4;
}

footer p {
    text-align: center;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .off h2 {
        font-size: 12px;
    }

    body {
        font-size: 14px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .marca h1 {
        font-size: 24px;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        margin-bottom: 10px;
    }

    #search {
        flex-direction: column;
        align-items: center;
    }

    input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }

    .new {
        padding: 120px;
    }

    .new h2 {
        font-size: 36px;
    }

    .new p {
        font-size: 28px;
    }

    .carousel-container {
        flex-direction: column;
        align-items: center;
    }

    .carousel-slide {
        width: 100%;
    }

    .carousel-slide img {
        height: 100%;
    }

    .tendencias h2 {
        font-size: 36px;
    }

    footer {
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    footer img {
        margin-bottom: 10px;
    }

    .enlace {
        margin-right: 0;
    }
}
